# Vim swapfiles
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Vim session files
Session.vim

# Auto generated tags files
tags

# Ada compilation extras
*.ali
*.o
*.gcno
*.gcda

# Executables
*.out
